.cartCount{
    background: yellow;
    position: absolute;
    top: 20px;
    right: 50px;
    text-align: center;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: none;
}